<html>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/add_question.css') }}">
	<div id = "header">
		Ask a question<br>
		Title<br>
		<input class = "question_bar" type = "text" name = "title" id = "title"><br>
		Content<br>
		<textarea class = "question_content" type = "text" name = "body" id = "body" rows = "10" cols = "100"></textarea><br>
		Tags<br>
		<input class = "question_bar" type = "text" name = "tags" id = "tags"><br>
		<button type="button" onclick="submit()">Add question!</button>
	</div>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/add_question.js') }}"></script>
</html>