<html>
Upload an image
<form enctype="application/x-www-form-urlencoded">
	<input type="file" name="media" id="media"><br>
	<input type="button" value="Submit" onclick="addmedia()"><br>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/addmedia.js"></script>
</html>