<html>
	<link rel= "stylesheet" type= "text/css" href= "/css/login.css">
	<p>Login to your account</p>
	<div>
		Username:<input type="text" name="username", id="username"><br>
		Password:<input type="text" name="key" id="password"><br>
		<button type="button" onclick="login()">Login</button>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/js/login.js"></script>
</html>