<html>
	<table>
		<tr>
			<td>
				<a href="adduser">Add User</a>
			</td>
			<td>
				<a href="verify">Verify</a>
			</td>
			<td>
				<a href="login">Login</a>
			</td>
			<td>
				<a href="questions/add">Add Question</a>
			</td>
			<td>
				<a href="questions/:id/answers/add">Add Answer</a>
			</td>
			<td>
				<a href="search">Search</a>
			</td>
			<td>
				<a href="user">Users</a>
			</td>
		</tr>
	</table>
	Look up a user
	<div>
		Username:<input type="text" name="username" id="username"><br>
		<button type="button" onclick="submit(); getQ(); getA();">Submit</button>
	</div>
	<div id="userdata">
	</div>
	<div id="questions">
	</div>
	<div id="answers">
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/js/users.js"></script>
</html>