<html>
	<link rel= "stylesheet" type= "text/css" href= "/css/user.css">
		<table>
		<tr>
			<td>
				<a href="adduser">Add User</a>
			</td>
			<td>
				<a href="verify">Verify</a>
			</td>
			<td>
				<a href="login">Login</a>
			</td>
			<td>
				<a href="questions/add">Add Question</a>
			</td>
			<td>
				<a href="questions/:id/answers/add">Add Answer</a>
			</td>
			<td>
				<a href="search">Search</a>
			</td>
			<td>
				<a href="user">Users</a>
			</td>
		</tr>
	</table>
	<p>Verify your account</p>
	<div>
		Email:<input type="text" name="email", id="email"><br>
		Key:<input type="text" name="key" id="key"><br>
		<button type="button" onclick="verify()">Submit</button>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/js/user.js"></script>
</html>